/*------------------------------------*\
    		$SETTINGS
\*------------------------------------*/

/* ============== // Transition // ============== */

$transition-time: .3s;
$transition-method: ease-in-out;


/* ============== // FONTS // ============== */
/* ============== // COLORS // ============== */
$principal : #333;
$principal90 : #464646;
$principal10 : #eaeaea;
$gray : #444;
$gray20 : #e0e0e0;
$link : #34677c;
$link60 : #7997a4;
$hover : #eee;
$secundario : #377688;
$secundario130 : #275562;
$table: #387789;